<div class='header'>
  <div class='navbar'>
    <ul>
    <li><%= link_to 'GameDB', root_path, class: current_page?(root_path)? "active":"" %></li>
    <li><%= link_to 'Games', games_path, class: current_page?(games_path)? "active":"" %></li>
    <li><%= link_to 'About', home_about_path, class: current_page?(home_about_path)? "active":"" %></li>
  </div>

  <div class='loggedIn'>
    <ul>
      <%if user_signed_in? %>
      <li><%= current_user.email %></li>
      <% end %>
    </ul>
  </div>

  <div class='userbar'>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path, class: current_page?(edit_user_registration_path)? "active":"" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class: current_page?(new_user_session_path)? "active":"" %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: current_page?(new_user_registration_path)? "active":"" %></li>
      <% end %>
    </ul>
  </div>
</div>
</br></br>