<div id="<%= dom_id game %>">

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Release:</strong>
    <%= game.release %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= game.developer %>
  </p>

</div>
