<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<table id="games">
  <tr>
    <th>Title</th>
    <th>Platform</th>
    <th>Release</th>
    <th>Developer</th>
    <th></th>
  </tr>
  <% @games.each do |game| %>
    <tr>
    <%= render partial: "gametable", locals: {game: game} %>
    <td>
      <%= link_to "Show", game %>
    </td>
    <td>
      <%= link_to "Edit", edit_game_path(game) %>
    </td>
    <td>
    <%= link_to "Delete", game, method: :delete, data: {confirm:"Are you sure?"} %>
    </tr>
    <% end %>
</table>

<%= link_to "New game", new_game_path %>
