<div class='main-container'>
  <p style="color: green"><%= notice %></p>

  <%= render @game %>

  <div>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
    <%= link_to "Back to games", games_path %>

    <%= button_to "Remove this Game", @game, method: :delete %>
  </div>
</div>